@using System.Collections.Generic;
@using System.Linq;
@using Azure
@using Azure.AI.FormRecognizer.DocumentAnalysis
@using SampleApp.Data
@using SampleApp.WebApp

@model Invoice;
<p>
    Vendor name: @Model.VendorName
</p>
<p>
    Customer name: @Model.CustomerName
</p>
